node_modules/
tool-config/local-template.json
__build__/
build/
*.code-workspace
.env*.local
npm-debug.log
yarn-error.log
.yarnclean
.babel-cache
.DS_Store
.npmrc
.tmp/
localhost-key.pem
localhost.pem
